<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824884408317-fknurfk8u292hrlturt5qcr758r4mn4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824884408317-fknurfk8u292hrlturt5qcr758r4mn4k</string>
	<key>API_KEY</key>
	<string>AIzaSyAzx8PPj9UJ21fTKQyzqsTWgHS5UdqHYJw</string>
	<key>GCM_SENDER_ID</key>
	<string>824884408317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.edu.njxzc.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolistteaching</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistteaching.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824884408317:ios:dd9acca1e054d1f5cd7394</string>
</dict>
</plist>